body {
    font-family: $Roboto;
    font-size: 16px;
    -webkit-backface-visibility: hidden;
}

.main, .main__inner {
    position: relative;
}

html, body, .main, .main__inner {
    height: 100%;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

/* flex */
.flex { display: flex; }
.flex__centered { margin: auto; }

// ===============
// input block
// ===============
.group {
    @include clearfix();
    margin-top: 25px;

    .coll-1 { width: 8.333333333333334%; }
    .coll-2 { width: 16.666666666666668%; }
    .coll-3 { width: 25%; }
    .coll-4 { width: 33.333333333333336%; }
    .coll-5 { width: 41.66666666666667%; }
    .coll-6 { width: 50%; }
    .coll-7 { width: 58.333333333333336%; }
    .coll-8 { width: 66.66666666666667%; }
    .coll-9 { width: 75%; }
    .coll-10 { width: 83.33333333333334%; }
    .coll-11 { width: 91.66666666666667%; }
    .coll-12 { width: 100%; }
}

.form-field {
    float: left;
    box-sizing: border-box;

    &:last-of-type { padding-right: 0; }
    &:first-of-type { padding-left: 0; }
}

/* activeColor */
body.activeColorMenu {
    .menuButton__iconClose {
        background: url("../images/sprite/closeN-2.png") center center no-repeat;
    }
    .menuButton__text { color: #fff; }
    .menuButton__line { background: #fff; }
    .onepage-pagination span { color: #fff; }
    .onepage-pagination i:before { background: #fff; }
    .onepage-pagination li {
        &.opacity3 {
            span { opacity: 0.3; }
            i { border-color: rgba(255, 255, 255, 0.3); }
        }

        &.opacity6 {
            span { opacity: 0.6; }
            i { border-color: rgba(255, 255, 255, 0.6); }
        }

        &.opacity10 {
            span { opacity: 1; }
            i { border-color: rgba(255, 255, 255, 1); }
        }
    }
    .onepage-pagination a {
        &.active {
            i { border-color: #fff; }
        }
        &:hover {
            i { border-color: #fff; }
        }
    }


}

body.viewing-page-7 {
    .onepage-pagination span { color: #888888; }
    .onepage-pagination i:before { background: #888888; }
    .onepage-pagination li {
        &.opacity3 {
            span { opacity: 0.3; }
            i { border-color: rgba(136, 136, 136, 0.3); }
        }

        &.opacity6 {
            span { opacity: 0.6; }
            i { border-color: rgba(136, 136, 136, 0.6); }
        }

        &.opacity10 {
            span { opacity: 1; }
            i { border-color: rgba(136, 136, 136, 1); }
        }
    }
    .onepage-pagination a {
        &.active {
            i { border-color: #888888; }
        }
        &:hover {
            i { border-color: #888888; }
        }
    }
}

$columns: 10;
.activePagination {
    .onepage-pagination {
        @for $i from 1 through $columns {
            li:nth-of-type(#{$i}) {
                span {
                    animation-name: scaleAnimateSpan;
                    animation-delay: $i / 2 s;
                    animation-duration: $i / 2 + s;
                }

                i {
                    animation-name: scaleAnimateI;
                    animation-delay: 0.16667s;
                    animation-duration: 0.6s;
                }
            }
        }
    }
}

.activePagination .onepage-pagination li:nth-of-type(1) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 0.16667s;
    animation-delay: 0.16667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(1) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 0.16667s;
    animation-delay: 0.16667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(2) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(2) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(3) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(3) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(4) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 0.66667s;
    animation-delay: 0.66667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(4) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 0.66667s;
    animation-delay: 0.66667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(5) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 0.83333s;
    animation-delay: 0.83333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(5) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 0.83333s;
    animation-delay: 0.83333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(6) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(6) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(7) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 1.16667s;
    animation-delay: 1.16667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(7) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 1.16667s;
    animation-delay: 1.16667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(8) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 1.33333s;
    animation-delay: 1.33333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(8) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 1.33333s;
    animation-delay: 1.33333s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(9) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(9) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(10) span {
    -webkit-animation-name: scaleAnimateSpan;
    animation-name: scaleAnimateSpan;
    -webkit-animation-delay: 1.66667s;
    animation-delay: 1.66667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }
.activePagination .onepage-pagination li:nth-of-type(10) i {
    -webkit-animation-name: scaleAnimateI;
    animation-name: scaleAnimateI;
    -webkit-animation-delay: 1.66667s;
    animation-delay: 1.66667s;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s; }

/* icon */
.icon { display: inline-block; }
.icon_1 { @include my-sprite(chain) }
.icon_2 { @include my-sprite(eye) }

.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
