@keyframes blueRound {
    from { opacity: .2 }
    to { opacity: 1 }
}

@keyframes inconIn {
    from {
        transform: translate3d(-100px,-100px,0) scale(0) rotate(90deg);
    }
    to {
        transform: translate3d(0,0,0) scale(1) rotate(0deg);
    }
}

@keyframes scaleAnimate {
    0% { transform: scale(0); }
    15% { transform: scale(2); }
    30% { transform: scale(1.5); }
    50% { transform: scale(2); }
    80% { transform: scale(1.5); }
    100% { transform: scale(1.5); }
}

@keyframes scaleAnimate2 {
    0% { transform: scale(1) translateX(0); }
    100% { transform: scale(1.1) translateX(-10px); }
}

@keyframes scaleAnimateSpan {
    0% { transform: scale(1) translateX(0); }
    100% { transform: scale(1.1) translateX(-10px); }
}

@keyframes scaleAnimateSpan {
    0% {
        transform: scale(1) translateX(0);
        opacity: 0; }
    50% {
        transform: scale(1.1) translateX(-10px);
        opacity: 1; }
    70% {
        transform: scale(1.1) translateX(-10px);
        opacity: 1; }
    100% {
        transform: scale(1) translateX(0);
        opacity: 0; }
}

@keyframes scaleAnimateI {
    0% {
        transform: scale(1);
        border-color: transparent; }
    50% {
        transform: scale(1.5);
        border-color: #888888; }
    70% {
        transform: scale(1.5);
        border-color: #888888; }
    100% {
        transform: scale(1);
        border-color: transparent; }
}
