.container {
    height: auto;
    width: 100%;
    min-height: 480px;
    height: 100%;
    overflow: hidden;
    min-width: 310px;

    @include breakpointmedia(768, 'max-width') {
        min-height: inherit;
        height: auto;
    }
}

.main {
    @include breakpointmedia(768, 'max-width') {
        padding: 20px 10px;
        box-sizing: border-box;
    }
}

.container-title {
    text-align: center;
}

.container-title_black {
    .container-title-main {
        &:after {
            background: #150500;
        }
    }

    .container-title-sub {
        color: #150500;
    }
}

.container-title-main {
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.35);

    @include breakpointmedia(768, 'max-width') {
        font-size: 30px;
    }

    &:after {
        display: block;
        width: 180px;
        margin: 9px auto 0;
        height: 1px;
        background: #fff;
        content: "";
    }
}

.container-title-sub {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 12px;

    @include breakpointmedia(768, 'max-width') {
        font-size: 14px;
        margin-top: 8px;
    }
}