.contactsForm {
    display: inline-block;
    vertical-align: top;
    width: 100%;

    .group {
        margin-top: 10px;
        &:first-child {
            margin-top: 0;
        }
    }
}

.contacts__item {
    padding-left: 11px;
    padding-right: 11px;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    @include breakpointmedia(900, 'max-width') {
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 100%!important;
        margin-top: 20px;

        &:first-child { margin-top: 0; }
    }

    @include breakpointmedia(768, 'max-width') {
        width: 100%!important;

        &:first-child { margin-top: 0; }
    }
}

.sectionMain {
    &:nth-child(9) {
        @include breakpointmedia(900, 'max-width') {
            .wrapper {
                width: 80%;
            }
        }

        @include breakpointmedia(768, 'max-width') {
            .wrapper {
                width: 100%;
            }
        }
    }
}

.contacts {
    .sectionMain__description {
        margin-top: 0;
    }
}

.contacts__iconItem {
    margin-top: 19px;
    @include clearfix();

    a {
        float: left;
        width: 40px;
        height: 40px;
        border: 1px solid #fff;
        box-sizing: border-box;
        color: #fff;
        text-decoration: none;
        text-align: center;
        line-height: 40px;
        margin-left: 20px;
        transition: all 0.2s ease;

        &:hover {
            background: #fff;
            color: #6c619d;
        }


        &:first-child {
            margin-left: 0;
        }
    }
}