//.header { z-index: 16; position: relative; }

//================
// menuButton
//================
.menuButton {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    font-size: 0;
    padding: 19px 21px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    z-index: 15;
    transition: all 500ms ease;

    @include breakpointmedia(768, 'max-width') {
        width: 1000px;
        background: #fff;
        padding: 15px 15px;
    }
}

.menuButton__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;

    &:last-child { margin-left: 0; }
}

.menuButton__line {
    display: block;
    background: #7c7c7c;
    height: 3px;
    width: 20px;
    margin-top: 3px;
    transition-duration: 1s;

    &:first-child { margin-top: 0; }
}

.menuButton__text {
    display: inline-block;
    color: #7c7c7c;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 3px;
    letter-spacing: 0.5px;
    transition-duration: 1s;
}

.menuButton__close {
    display: none;
}

.menuButton__iconClose {
    display: inline-block;
    width: 23px;
    height: 22px;
    background: url("../images/sprite/closeN.png") center center no-repeat;

    @include breakpointmedia(768, 'max-width') {
        background-size: 70%;
    }
}
//================
// menuNav
//================
.menuNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 360px;
    background: url('../images/bg-nav.jpg');
    padding: 90px 50px 90px 70px;
    box-sizing: border-box;
    z-index: 15;
    transition: all 500ms ease;
    transform: translateX(-360px);
    -webkit-backface-visibility: hidden;

    @include breakpointmedia(768, 'max-width') {
        padding: 10px;
        width: 180px;
        transform: translateX(-180px);
    }
}

.menuNav__over {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 14;
}

.menuNav__list {
    counter-reset: li;

    li {
        animation-duration: 1s;
        animation-fill-mode: none;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        opacity: 0;
        margin-top: 15px;

        @include breakpointmedia(768, 'max-width') {
            margin-top: 8px;
        }

        &:first-child { margin-top: 0; }

        &:hover a { opacity: 1; }
    }

    a {
        font-size: 38px;
        font-weight: 100;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s ease;
        opacity: 0.7;

        @include breakpointmedia(768, 'max-width') {
            font-size: 20px;
        }

        &.active {
            opacity: 1;
        }
    }
}

.menuNav__listMin {
    margin-top: 50px;

    li {
        animation-duration: 1s;
        animation-fill-mode: none;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        opacity: 0;

        &:hover a { opacity: 1; }
    }

    a {
        font-size: 18px;
        font-weight: 200;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s ease;
        opacity: 0.8;
    }
}

body.active_nav {
    .window {
        transform: translateX(360px);

        @include breakpointmedia(768, 'max-width') {
            transform: translateX(180px);
        }
    }

    .menuNav { transform: translateX(0px); }
    .menuNav__over { display: block; }
    .onepage-pagination { opacity: 0; visibility: hidden; }
    .menuButton__item { display: none; }
    .menuButton__close { display: block; }

    .menuNav__list {
        li {
            transition-delay: 300ms;
            transform: translateX(0);
            opacity: 1;
        }
    }

    .menuNav__listMin {
        li {
            transition-delay: 300ms;
            transform: translateX(0);
            opacity: 1;
        }
    }
}