//================
// menuButton
//================
.menuButton {
    position: fixed;
    top: 0;
    font-size: 0;
    padding: 19px 21px;
    user-select: none;
    cursor: pointer;
    z-index: 15;
    transition: all 400ms ease;
}

.menuButton__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 22px;

    &:last-child { margin-left: 0; }
}

.menuButton__line {
    display: block;
    background: #7c7c7c;
    height: 3px;
    width: 20px;
    margin-top: 3px;
    transition-duration: 1s;

    &:first-child { margin-top: 0; }
}

.menuButton__text {
    display: inline-block;
    color: #7c7c7c;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 4px;
    transition-duration: 1s;
}

.menuButton__close {
    display: none;
}

.menuButton__iconClose {
    display: inline-block;
    @include my-sprite(closeN);
}
//================
// menuNav
//================
.menuNav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 360px;
    background: url('../images/bg-nav.jpg');
    padding: 90px 50px 90px 70px;
    box-sizing: border-box;
    z-index: 5;
}

.menuNav__list {
    counter-reset: li;

    li {
        animation-duration: 1s;
        animation-fill-mode: none;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        opacity: 0;
        margin-top: 15px;
        &:first-child { margin-top: 0; }

        &:hover a { opacity: 1; }
    }

    a {
        font-size: 38px;
        font-weight: 100;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s ease;
        opacity: 0.8;

        &.active {
            opacity: 1;
        }
    }
}

.menuNav__listMin {
    margin-top: 50px;

    li {
        animation-duration: 1s;
        animation-fill-mode: none;
        transition: all 0.2s ease;
        transform: translateX(-100%);
        opacity: 0;

        &:hover a { opacity: 1; }
    }

    a {
        font-size: 18px;
        font-weight: 200;
        color: #ffffff;
        text-decoration: none;
        transition: all 0.2s ease;
        opacity: 0.8;
    }
}

$columnsNav: 10;
body.active_nav {
    .containers-wrap, .menuButton {
        margin-left: 360px;
    }

    .onepage-pagination { opacity: 0; }
    .menuButton__item { display: none; }
    .menuButton__close { display: block; }

    @for $i from 1 through $columnsNav {
        .menuNav__list {
            li:nth-child(#{$i}) {
                animation-name: slideInLeft;
                animation-delay: $i * 50 + ms;
                transition-delay: $i * 50 + ms;
                transform: translateX(0);
                opacity: 1;
            }
        }

        .menuNav__listMin {
            li:nth-child(#{$i}) {
                animation-name: slideInLeft;
                animation-delay: ($i + 7) * 50 + ms;
                transition-delay: ($i + 7) * 50 + ms;
                transform: translateX(0);
                opacity: 1;
            }
        }
    }
}