html.no-touch, .no-touch body {
    overflow: hidden;
}

.no-touch {
    .header, .window { transition: all 500ms ease!important; }
}

.section {
    z-index: 10;
    left: 0!important;

    &.active {
        z-index: 12;
    }

    &.animateIn {
        animation-duration: 1000ms;
        animation-name: slideInDown;
    }

    &.animateOut {
        animation-duration: 1000ms;
        animation-name: slideinDown;
        z-index: 11;
    }
}

.containers-wrap, .window {
    background: #fff;
    position: absolute!important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

    @include breakpointmedia(768, 'max-width') {
        height: auto;
        box-sizing: border-box;
    }
}

.onepage-pagination {
    position: absolute;
    right: 59px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    transition: all 0.4s ease;

    li {
        position: relative;
        display: block;
        &.opacity3 {
            span { opacity: 0.3; }
            i { border-color: rgba(136, 136, 136, 0.3); }
        }

        &.opacity6 {
            span { opacity: 0.6; }
            i { border-color: rgba(136, 136, 136, 0.6); }
        }

        &.opacity10 {
            span { opacity: 1; }
            i { border-color: rgba(136, 136, 136, 1); }
        }
    }

    span {
        display: inline-block;
        font-size: 14px;
        font-weight: 100;
        text-transform: uppercase;
        color: #888888;
        opacity: 0;
        transition: all 0.4s ease;
    }

    a {
        display: block;
        text-align: right;
        padding: 3px 23px 3px 0;

        &.active {
            span {
//                animation-name: scaleAnimate2;
//                animation-duration: 300ms;
                transform: scale(1.1) translateX(-10px);
                opacity: 1;
            }
            i {
//                animation-name: scaleAnimate;
//                animation-duration: 1s;
                transform: scale(1.5);
                border-color: #888888;
            }
        }

        &:hover {
            span {
//                animation-name: scaleAnimate2;
//                animation-duration: 300ms;
                transform: scale(1.1) translateX(-10px);
                opacity: 1;
            }
            i {
//                animation-name: scaleAnimate;
//                animation-duration: 1s;
                transform: scale(1.5);
                border-color: #888888;
            }
        }
    }

    i {
        position: absolute;
        width: 14px;
        height: 14px;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50%;
        border: 1px solid transparent;
        box-sizing: border-box;
        transition: all 0.4s ease;

        &:before {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #888888;
            content: '';
        }
    }
}
