.sectionThree {
    background: url('../images/BG/Bg_Portfolio.jpg') center center no-repeat;
    background-size: cover;

    .wrapper {
        max-width: 480px;
        margin-top: 40px;

        @include breakpointmedia(768, 'max-width') {
            margin-top: 20px;
        }
    }
}

.sliderMain { overflow: hidden; }

.bx-wrapper {
    .bx-prev, .bx-next {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 500ms ease;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 3px solid #fff;
        box-sizing: border-box;

        @include breakpointmedia(600, 'max-width') {
            display: none;
        }

        &:hover {
            background: #fff;
        }
    }

    .bx-prev {
        left: -120px;
        transform: translateX(-500px);
        text-align: center;

        &:hover:before {
            @include my-sprite(arrow-hover-left);
        }

        &:before {
            display: inline-block;
            margin-top: 14px;
            margin-right: 3px;
            @include my-sprite(arrow-left);
            content: "";
        }
    }

    .bx-next {
        right: -120px;
        transform: translateX(500px);
        text-align: center;

        &:hover:before {
            @include my-sprite(arrow-hover-right);
        }

        &:before {
            display: inline-block;
            margin-top: 14px;
            margin-left: 3px;
            @include my-sprite(arrow-right);
            content: "";
        }
    }
}

.sliderMain__item {
    background: url("../images/bg_slider_top.jpg") no-repeat;
    background-size: contain;
    padding-top: 16px;
    height: 360px;
    transition: all 0.2s ease;

    @include breakpointmedia(768, 'max-width') {
        background: none;
        padding-top: 0;
        height: auto;
    }

    &:hover {
        .sliderMain__contentHover {
            visibility: visible;
            opacity: 1;
        }
    }
}

*::-webkit-scrollbar{ width:.3em; background-color: #eaeaea }
*::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sliderMain__logo { cursor: pointer; }
.sliderMain__list { display: none; width: 100%; }

/* sliderMain__contentHover */
.sliderMain__contentHover {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #959595;
    padding: 28px 60px;
    box-sizing: border-box;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 10;

    @include breakpointmedia(768, 'max-width') {
        top: 0;
        padding: 10px 10px;
    }
}

.sliderMain__content {
//    position: relative;
//    top: 50%;
//    transform: translateY(-50%);
    text-align: center;

    h3 {
        font-size: 30px;
        color: #ffffff;
        text-transform: uppercase;
        text-shadow: 1px 1px 6px rgba(0,0,0,0.35);

        @include breakpointmedia(768, 'max-width') {
            font-size: 20px;
        }

        &:after {
            display: block;
            width: 180px;
            margin: 5px auto 0;
            height: 1px;
            background: #fff;
            content: "";
        }
    }

    p {
        font-size: 16px;
        font-weight: 200;
        color: #ffffff;
        line-height: 20px;
        margin-top: 25px;

        @include breakpointmedia(768, 'max-width') {
            font-size: 14px;
            margin-top: 10px;
            line-height: 15px;
        }
    }
}

.sliderMain__iconItem {
    margin-top: 35px;

    @include breakpointmedia(768, 'max-width') {
        margin-top: 8px;
    }

    a, span {
        display: inline-block;
        vertical-align: top;
        width: 60px;
        height: 60px;
        line-height: 60px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-left: 25px;
        transition: all 0.2s ease;

        &:hover {
            background: #fff;

            .icon_1 { @include my-sprite(chain-hover); }
            .icon_2 { @include my-sprite(eye-hover); }
        }

        @include breakpointmedia(768, 'max-width') {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 15px;
        }

        &:first-child { margin-left: 0; }
    }

    i {
        position: relative;
        vertical-align: top;
        top: 50%;
        transform: translateY(-50%);
    }
}

.openHoverIcon {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -30px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #959595;
    z-index: -1;

    &:before {
        display: inline-block;
        margin-top: 32px;
        @include my-sprite(arrow-down);
        content: "";
    }
}

/* sliderContentMain */
.sliderContentMain { position: relative; }
.sliderContentMain__close {
    display: none;
    position: absolute;
    right: -30px;
    top: -30px;
    @include my-sprite(closeN-2);
    cursor: pointer;
}

.sliderContentMain.openImagesList {
    .sliderContentMain__close { display: block; }

    .bx-viewport {
        height: 400px!important;

        @include breakpointmedia(768, 'max-width') {
            height: auto!important;
        }
    }

    .openItem {
        transition: all 1s linear;
        height: 400px!important;
        overflow-y: scroll!important;

        .sliderMain__contentHover {
            position: relative;
            visibility: visible;
            opacity: 1;
            height: auto;
            top: 0;
        }

        .sliderMain__content {
//            top: auto;
//            transform: translateY(0);
        }

        p, .sliderMain__iconItem, .sliderMain__logo { display: none; }

        h3:after { display: none; }

        .openHoverIcon, .sliderMain__list { display: block; }
    }
}

/* sectionThree.active */
.sectionThree.active {
    .bx-prev, .bx-next {
        opacity: 1;
        transform: translateX(0);
    }
}