.sectionMain {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sectionMain__content {
    margin-top: 55px;

    @include breakpointmedia(768, 'max-width') {
        margin-top: 25px;
    }
}

.sectionMain__content_right {
    text-align: right;
}

.sectionMain__item {
    display: inline-block;
    vertical-align: top;
    width: 55%;
    text-align: left;

    @include breakpointmedia(768, 'max-width') {
        width: 100%;
    }
}

.sectionMain__title {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
//    transition: all 1s ease;
//    opacity: 0;

    @include breakpointmedia(768, 'max-width') {
        font-size: 25px;
        text-align: center;
    }
}

.sectionMain__description {
    color: #ffffff;
    font-weight: 300;
    line-height: 20px;
    margin-top: 25px;
//    transition: all 1s ease;
//    opacity: 0;

    @include breakpointmedia(768, 'max-width') {
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }
}

.sectionMain__description_black {
    color: #150500;
}

/* sectionMain.active */
.sectionMain.active {
//    .sectionMain__title {
//        opacity: 1;
//        animation-name: rollIn;
//        animation-duration: 0.5s;
//        animation-delay: 0.5s;
//        transition-delay: 0.5s;
//    }
//
//    .sectionMain__description {
//        opacity: 1;
//        animation-name: zoomInLeft;
//        animation-duration: 0.5s;
//        animation-delay: 0.7s;
//        transition-delay: 0.7s;
//    }
}
