.touch {
    .STlist__item { opacity: 1; }

    .bx-wrapper .bx-prev, .bx-wrapper .bx-next {
        opacity: 1;
        transform: translateX(0);
    }

    .bx-wrapper .bx-prev { right: -75px; }
    .bx-wrapper .bx-next { left: -75px; }

    .sectionMain__title { opacity: 1; }
    .sectionMain__description { opacity: 1; }
}